<!doctype html>
<html lang="en">

<head>
    <%- include("layouts/header.ejs") %>
    <title>Home</title>
</head>

<body>
    <header style="max-width: 1200px; margin: auto;">
        <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Danh sách học viên</a>
                        </li>
                    </ul>
                    <button type="button" class="btn btn-primary"><a
                            style="color: aliceblue  !important; text-decoration: none;" href="/students/create">Thêm
                            học
                            viên</a></button>
                </div>
            </div>
        </nav>
    </header>
    <main style="max-width: 1200px; margin: auto;">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Tên</th>
                    <th scope="col">Lớp</th>
                    <th scope="col">Đánh giá</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <% for (let i=0; i< students.length; i++) {%>
                <tr>
                    <th scope="row"><%= i +1 %></th>
                    <td><%= students[i].fullname %></td>
                    <td><%= students[i].class %></td>
                    <td><%= students[i].review %></td>
                    <td>
                        <button class="btn btn-secondary"><a style="color: aliceblue !important
                        ; text-decoration: none;" href="/students/detail/<%= students[i].id %>">Detail</a></button>
                        <button class="btn btn-primary"><a style="color: aliceblue !important
                            ; text-decoration: none;" href="/students/update/<%= students[i].id %>">Edit</a></button>
                        <button class="btn btn-danger"><a style="color: aliceblue !important
                            ; text-decoration: none;"
                                onclick="return confirm('Are you sure you want to delete this student?')"
                                href="/students/delete/<%= students[i].id %>">Delete</a></button>
                    </td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </main>
    <%- include("layouts/cdn.ejs") %>
</body>


</html>